.navBar {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 165px;
}
.navBar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 780px;
}
.navBar li {
  list-style-type: none;
  cursor: pointer;
  color: #fff;
  padding: 5px 30px;
}

.navBar--button {
  border: 1px solid white;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .navBar ul {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .navBar {
    padding: 20px;
    flex-direction: column;
  }
  .navBar span{
    max-width: 20%;
  }
  .navBar li{
    padding: 5px 10px;
  }
}

@media (max-width: 425px) {

  .navBar ul{
    display: none;
  }

}