.contact-us{
  padding: 120px 165px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-us span{
  color: #5E5873;
  max-width: 540px;
}
.contact-us h3{
  font-size: 48px;
  font-weight: 300;
}

.contact-us p{
  margin-top: 14px;
  font-size: 18px;
}

@media (max-width: 1024px){
  .contact-us{
    padding: 110px 90px;
  }
}
@media (max-width: 768px){
  .contact-us{
    padding: 110px 40px;
  }
}